## Exercici 1
*Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.*

##### IMPORTANT!: Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

In [52]:
import numpy as np
import pandas as pd

vols = pd.read_csv('Flights.csv')
vols_reduit = vols.sample(n = 200000)

print(vols_reduit.columns)

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [128]:
vols.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

In [107]:
vols_reduit = vols_reduit[['Month', 'DayOfWeek', 'DepTime', 'ArrTime', 'UniqueCarrier', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]

vols_reduit

,Month,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
578151,4,7,1558.0,1705.0,WN,20.0,28.0,OAK,LAX,337,0.0,0.0,10.0,0.0,10.0
470614,3,1,1506.0,1809.0,US,81.0,51.0,TPA,PHL,920,0.0,0.0,81.0,0.0,0.0
1824334,12,5,1832.0,2048.0,US,34.0,12.0,CLT,DFW,936,0.0,0.0,22.0,0.0,12.0
582184,4,4,1535.0,1828.0,WN,13.0,10.0,LAS,BOI,520,NaN,NaN,NaN,NaN,NaN
1307481,8,6,1336.0,1423.0,YV,55.0,62.0,DEN,ASE,125,0.0,0.0,0.0,0.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256759,7,6,1113.0,1436.0,CO,21.0,9.0,FLL,EWR,1065,0.0,0.0,21.0,0.0,0.0
156131,1,3,935.0,1205.0,AA,35.0,35.0,TPA,LGA,1011,35.0,0.0,0.0,0.0,0.0
1398794,8,1,2117.0,2251.0,AA,11.0,12.0,MIA,IAH,964,NaN,NaN,NaN,NaN,NaN
1668190,11,5,1927.0,2316.0,UA,86.0,64.0,ORD,EWR,719,0.0,0.0,86.0,0.0,0.0
1445464,9,1,1209.0,1317.0,WN,7.0,9.0,SMF,BUR,358,NaN,NaN,NaN,NaN,NaN

### Columnes que _SI_ son rellevants:

1. **Month i DayOfWeek** -> Per mirar si el mes i el dia de la setmana ve te a veure amb els possibles retards -> (Reforçar plantilla?)

2. **DepTime i ArrTime** -> Per mirar si l'hora d'enlairament i aterrament influeix. Ens servirà també per calcular la velocitat mitjana juntament amb la distancia recorrecuda.

3. **Distance** -> Si influeix la distancia

4. **Origin i Dest i Unique Carrier** -> Per veure si influeix els paisos i l'aerolinia que s'encarrega del vol (sobretot en l'origen pot ser més interesant).

5. **ArrDelay, DepDelay, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay** -> Qualsevol dada sobre causes de retrassos és interessant d'estudi.

### Columnes que _NO_ son rellevants:

1. **Unnamed: 0** -> És un index, que es duplicaria a més
2. **Year** -> Son dades del mateix any, per tant no cal estudiar
3. **CRSDepTime, CRSArrTime, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, 'TaxiIn', TaxiOut, Cancelled, CancellationCode, Diverted'** -> D'entrada diria que son dades que no influeixen en saber els motius dels retrassos

## Exercici 2
Fes un informe complet del dataset:

 - Resumeix estadísticament el dataset i les columnes d’interès. 
 - Fes una anàlisi estadístic del que consideris rellevant.
 - Troba quantes dades faltants hi ha per columna.
 - Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
 - Fes una taula de les aerolínies amb més endarreriments acumulats.
 - Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
 - Aporta allò que consideris rellevant.

In [108]:
#Resum estadístic (he omès algunes columnes que estadísticament no ens interessen ara)
vols_reduit[['DepDelay', 'ArrDelay', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']].describe()

,DepDelay,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,200000.000000,199132.000000,129040.000000,129040.000000,129040.000000,129040.000000,129040.000000
mean,43.163985,42.233122,19.185377,3.713252,14.987058,0.082393,25.271761
std,53.285030,56.709776,43.683894,20.881295,33.848657,1.742522,41.962069
min,6.000000,-66.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,24.000000,24.000000,2.000000,0.000000,2.000000,0.000000,8.000000
75%,53.000000,56.000000,21.000000,0.000000,14.000000,0.000000,33.000000
max,1518.000000,1510.000000,1510.000000,1070.000000,1195.000000,123.000000,1184.000000

In [135]:
vols_reduit[['DepDelay', 'ArrDelay', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']].corr()

,DepDelay,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
DepDelay,1.000000,0.952431,0.533738,0.230529,0.234418,-0.010131,0.513071
ArrDelay,0.952431,1.000000,0.506110,0.251736,0.389949,-0.008278,0.478486
CarrierDelay,0.533738,0.506110,1.000000,-0.071638,-0.118717,-0.019593,-0.177559
WeatherDelay,0.230529,0.251736,-0.071638,1.000000,-0.003117,-0.007877,-0.056485
NASDelay,0.234418,0.389949,-0.118717,-0.003117,1.000000,-0.011381,-0.117622
SecurityDelay,-0.010131,-0.008278,-0.019593,-0.007877,-0.011381,1.000000,-0.019989
LateAircraftDelay,0.513071,0.478486,-0.177559,-0.056485,-0.117622,-0.019989,1.000000

##### Faria el següent analisi per files:

 **1. Count:** Aqui podem veure quants nulls te cada columna. Sorprèn que no coincideixi en DepDelay i ArrDelay el número. També cal mencionar que sorpren tants nulls en la resta de columnes amb retràs.
 
 **2. Mean:** Això ens diu la mitja de retrassos de cada columna. Ens serveix d'orientació per saber sobretot que passa amb els que superen aquesta mitja. Veiem concurdància entra el DepDelay i el ArrDelay. Això ens indica que la majoria dels problemes de retrassos esta en l'enlairament i no tant en l'atterratge. 
 
 **3. STD:** La variació estandard ens indica la similitud entre tots els punts estudiats. Com més pròxim a 0 millor. Veiem llavors que els retrassos en seguretat son molt similars entre ells, encara que la mitja ja ens feia veure que aquest no és el problema. En canvi veiem que hi ha molta variació en altres punts. 
 
 **4. min:** Em sorprèn que el minim de DepDelay sigui 6. Aquí hi ha dos opcions, o bé que només estan inclosos els vols amb retrassos o bé que tots els vols surten em retràs. Per altra banda, sorprèn que l'ArrDelay sigui negatiu, però això és possible a que per condicions atmosferiques o de velocitat es doni aquest cas. De totes maneres s'hauria de veure d'on surt aquest número negatiu.
 
 **5. %:** Els percentatges em semblen interessants per veure l'evolució en cada quart de valoració entre el minim i el màxim i ens dona una idea.
 
 **6. Max:** Veiem que els imports que ens dona de maxim no te cap sentit, ja que son molt superiors a la resta i afecta als resultats de manera important. Haurem de mirar que passa amb aquests valors i **Netejar la base de dades**.
 
 **7. Correlació:** Veiem que la correlació entre les diferents columnes es molt dispers més enllà d'una obvia correlació amb el retràs d'enlairament i d'atteratge. Destacaria també la correlació que te amb la CarrierDelay, tot i ser nomes del 50%, es un punt interessant a tenir en compte i a estudiar.

## Limpieza Dataframe

1. Mirar duplicados y eliminarlos
2. Mirar quantitat de valors nuls i eliminarlos
3. Ver que pasa con los valores maximos
4. Podriem netejar l'index per posar tot miniscules, pero en aquest cas em sembla correcte com està, ja que aixi separa paraules

In [109]:
# 1. Mirar si hi ha duplicats

vols_reduit.duplicated(keep=False).any()

True

In [110]:
# 2. Mirar quantitat de valos nuls. Serveix per respondere el punt 3 de l'exercici 2 també.
vols_reduit.isnull().sum()

Month                    0
DayOfWeek                0
DepTime                  0
ArrTime                736
UniqueCarrier            0
ArrDelay               868
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
CarrierDelay         70960
WeatherDelay         70960
NASDelay             70960
SecurityDelay        70960
LateAircraftDelay    70960
dtype: int64

In [111]:
'''
Com que els valors de ArrTime i ArrDelay estan relacionats i son pocs els eliminarem, per altra banda la resta de columnes amb valors
nuls els canviarem per un 0
'''

vols_reduit_net = vols_reduit.copy()
vols_reduit_net = vols_reduit_net.dropna(subset=['ArrTime', 'ArrDelay'])
vols_reduit_net.isnull().sum()

Month                    0
DayOfWeek                0
DepTime                  0
ArrTime                  0
UniqueCarrier            0
ArrDelay                 0
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
CarrierDelay         70092
WeatherDelay         70092
NASDelay             70092
SecurityDelay        70092
LateAircraftDelay    70092
dtype: int64

In [113]:
'''
Ara actualitzem la resta de valors nuls amb zero
'''

vols_reduit_net[['UniqueCarrier', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']] = vols_reduit_net[['UniqueCarrier', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']].fillna(0)

vols_reduit_net.isnull().sum()

Month                0
DayOfWeek            0
DepTime              0
ArrTime              0
UniqueCarrier        0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [114]:
vols_reduit_net[['DepDelay', 'ArrDelay', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']].describe()

,DepDelay,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,199132.000000,199132.000000,199132.000000,199132.000000,199132.000000,199132.000000,199132.000000
mean,43.073539,42.233122,12.432361,2.406233,9.711799,0.053392,16.376414
std,53.144828,56.709776,36.339286,16.902547,28.172304,1.403267,35.870623
min,6.000000,-66.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,24.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,53.000000,56.000000,10.000000,0.000000,6.000000,0.000000,18.000000
max,1518.000000,1510.000000,1510.000000,1070.000000,1195.000000,123.000000,1184.000000

In [115]:
print(vols_reduit_net.loc[vols_reduit_net['DepDelay'] == 1521])
print(vols[['DepTime', 'CRSDepTime', 'DepDelay', 'ArrTime', 'CRSArrTime', 'ArrDelay']].loc[545038])
#Després de fixar-me en les operacions veig que no estracta d'un error i que es 1 Dia de retràs per això el valor es tan elevat.
#Comprovo amb la resta el mateix per si de cas però entenc que no serà un error. 
'''
Tal i com esperava amb la resta de dades després de comprovar-ho NO es tracta d'un error si retrassos puntuals d'arpox 1D.
Deixo aquest registre per veure que el codi l'he escrit bé.
'''

Empty DataFrame
Columns: [Month, DayOfWeek, DepTime, ArrTime, UniqueCarrier, ArrDelay, DepDelay, Origin, Dest, Distance, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []
DepTime       1256.0
CRSDepTime    1135.0
DepDelay      1521.0
ArrTime       1627.0
CRSArrTime    1737.0
ArrDelay      1370.0
Name: 545038, dtype: float64

"\nTal i com esperava amb la resta de dades després de comprovar-ho NO es tracta d'un error si retrassos puntuals d'arpox 1D.\nDeixo aquest registre per veure que el codi l'he escrit bé.\n"

In [116]:
#Crear nuevas columnas

vols_reduit_net['AirTime'] = vols_reduit['AirTime'] #Afegim la columna 'AirTime' per poder calcular la mitja. No podem netejar els NaN ja que per calcular el seu valor (ArrTime - DepTime) al ser hores no es calcularia correctament
vols_reduit_net['AvSpeed'] = vols_reduit_net['AirTime'] * 60 / vols_reduit_net['Distance'] #Nova Columna de Velocitat mitjana
vols_reduit_net['OnTime'] = vols_reduit_net['ArrDelay'].apply(lambda x: 'Yes' if x < 0 else 'No') #Nova columna de Si ha arribat tard

vols_reduit_net

KeyError: 'AirTime'

In [123]:
# Agrupar por Aerolinias (Unique Carrier) cuales acumulan mas retraso

vols_reduit_net['UniqueCarrier'] = vols_reduit['UniqueCarrier']

Aerolinies = vols_reduit_net.groupby('UniqueCarrier')['CarrierDelay'].mean()
Aerolinies = vols_reduit_net.groupby('UniqueCarrier').agg({'CarrierDelay': 'mean'})

Aerolinies.sort_values('CarrierDelay', ascending=False)

               CarrierDelay
UniqueCarrier
YV                28.225811
EV                21.256010
HA                20.728610
OH                20.291454
NW                17.755713
9E                17.211976
AA                14.931019
OO                12.623722
UA                12.591857
DL                12.487978
AS                12.454078
MQ                12.308601
B6                12.272952
XE                12.111299
US                11.152835
AQ                10.548780
CO                 9.602951
F9                 9.029180
WN                 6.020238
FL                 5.604894

In [99]:
# Vols més llargs
vols_llargs = vols_reduit_net.sort_values('Distance', ascending=False) 
vols_llargs[['Origin', 'Dest', 'Distance']][vols_llargs[['Origin', 'Dest', 'Distance']].duplicated(keep=False)]
vols_llargs_top = vols_llargs[['Origin', 'Dest', 'Distance']].drop_duplicates()
vols_llargs_top.head(15)

        Origin Dest  Distance
1418425    EWR  HNL      4962
1926816    HNL  EWR      4962
1260110    ATL  HNL      4502
99668      HNL  ATL      4502
691809     ORD  HNL      4243
1809939    HNL  ORD      4243
786168     KOA  ORD      4213
956611     ORD  OGG      4184
1027255    MSP  HNL      3972
517248     HNL  MSP      3972
1925797    IAH  HNL      3904
1519458    HNL  IAH      3904
1036670    DFW  HNL      3784
528431     HNL  DFW      3784
1385575    DFW  OGG      3711

In [98]:
# Vols més enderrarits

vols_retras = vols_reduit_net.sort_values('ArrDelay', ascending=False) 
vols_retras.head(15)

,Month,DayOfWeek,DepTime,ArrTime,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,AirTime,AvSpeed,OnTime
685763,4,4,821.0,1313.0,1395.0,1401.0,SJU,DTW,1929,1395.0,0.0,0.0,0.0,0.0,NaN,NaN,No
545038,3,6,1256.0,1627.0,1370.0,1521.0,LGA,MIA,1097,50.0,0.0,1289.0,0.0,31.0,NaN,NaN,No
1905241,12,3,832.0,1523.0,1298.0,1167.0,LAS,DFW,1055,0.0,1094.0,131.0,0.0,73.0,NaN,NaN,No
1702698,11,7,938.0,1313.0,1253.0,1238.0,MEM,MIA,860,2.0,0.0,15.0,0.0,1236.0,NaN,NaN,No
674406,4,5,1553.0,1801.0,1211.0,1198.0,MKE,MQT,236,0.0,0.0,1207.0,0.0,4.0,NaN,NaN,No
1884133,12,7,1026.0,1519.0,1190.0,1206.0,LAS,MSP,1300,1190.0,0.0,0.0,0.0,0.0,NaN,NaN,No
1502764,9,3,618.0,1031.0,1186.0,1183.0,TUS,DFW,813,1183.0,0.0,3.0,0.0,0.0,NaN,NaN,No
234975,2,7,903.0,1218.0,1166.0,1123.0,GRR,MCO,1023,1089.0,0.0,43.0,0.0,34.0,NaN,NaN,No
146567,1,7,1017.0,1547.0,1147.0,1172.0,SNA,ORD,1726,1068.0,0.0,0.0,0.0,79.0,NaN,NaN,No
504065,3,3,700.0,1029.0,1129.0,1090.0,MTJ,DFW,722,1090.0,0.0,39.0,0.0,0.0,91.0,7.562327,No
844785,5,3,1116.0,2349.0,1124.0,1096.0,OGG,DFW,3711,1096.0,0.0,28.0,0.0,0.0,NaN,NaN,No
1879242,12,7,27.0,222.0,1103.0,1092.0,DTW,LGA,501,1092.0,0.0,11.0,0.0,0.0,NaN,NaN,No
329802,2,2,1304.0,1456.0,1091.0,1099.0,DCA,IND,499,1091.0,0.0,0.0,0.0,0.0,NaN,NaN,No
513357,3,2,1724.0,127.0,1090.0,1114.0,HNL,PDX,2603,1090.0,0.0,0.0,0.0,0.0,NaN,NaN,No
1395353,8,4,807.0,1157.0,1088.0,1092.0,SJU,JFK,1597,1069.0,0.0,0.0,0.0,19.0,NaN,NaN,No

###### Altres calculs rellevants
1. Agrupar retrassos per mesos
2. Agrupar per dies de la setmana (Canviar el número pel dia)
3. Mirar quina es la major causa dels retrassos

In [127]:
#Agrupar retrassos per mesos

mesos = vols_reduit_net.groupby('Month')['ArrDelay'].mean()
mesos = vols_reduit_net.groupby('Month').agg({'ArrDelay': 'mean'})

mesos.sort_values('ArrDelay', ascending=False)

#Veiem que els mesos amb mes retrassos son desembre i juny i juliol (sorpren que no hi surti agost). Em sembla interessant saber quins mesos hi ha més retrassos per si s'ha de fer algún tipus de reforç

        ArrDelay
Month
12     49.237992
6      46.251340
7      45.787448
2      45.547694
1      42.589258
3      42.207906
8      41.265000
4      39.088770
5      37.943353
11     37.348964
9      34.928948
10     32.436844

In [130]:
#Agrupar per dia de la setmana (primer canviarem el número pel nom). He comprovat que 4 és Dijous. Per tant 1 equival a dilluns.

vols_reduit_net['DayOfWeek'].replace({1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday", 7: "Sunday"}, inplace=True)

dies_setmana = vols_reduit_net.groupby('DayOfWeek')['ArrDelay'].mean()
dies_setmana = vols_reduit_net.groupby('DayOfWeek').agg({'ArrDelay': 'mean'})

dies_setmana.sort_values('ArrDelay', ascending=False)

#No sembla que hi hagi una gran diferència entre els diferents dies de la setmana.

            ArrDelay
DayOfWeek
Sunday     44.452005
Tuesday    44.179986
Friday     43.237296
Monday     42.121771
Thursday   40.946549
Wednesday  40.880074
Saturday   39.012202

In [134]:
# Mirar quina es la major causa dels retrassos

Qty_DepDelay = (vols_reduit_net['DepDelay'] > 0).sum()
Qty_ArrDelay = (vols_reduit_net['ArrDelay'] > 0).sum()
Qty_CarrierDelay = (vols_reduit_net['CarrierDelay'] > 0).sum()
Qty_WeatherDelay = (vols_reduit_net['WeatherDelay'] > 0).sum()
Qty_NASDelay = (vols_reduit_net['NASDelay'] > 0).sum()
Qty_SecurityDelay = (vols_reduit_net['SecurityDelay'] > 0).sum()
Qty_LateAircraftDelay = (vols_reduit_net['LateAircraftDelay'] > 0).sum()

print("El totat de vols amb retràs a l'enlairament son:", Qty_DepDelay)
print("El totat de vols amb retràs en l'aterratge son:", Qty_ArrDelay)
print("El totat de vols amb retràs degut el temps son:", Qty_WeatherDelay)
print("El totat de vols amb retràs degut al NAS son:", Qty_NASDelay)
print("El totat de vols amb retràs degut a la seguretat son:", Qty_SecurityDelay)
print("El totat de vols amb retràs degut a LateAircraft son:", Qty_LateAircraftDelay)

#Podem comprovar que el LateAircraft i el NAS son els causants de la majoria de retrassos. Per contrapartida la seguretat i el temps (mes dificil de controlar) son els causants menys habituals

El totat de vols amb retràs a l'enlairament son: 199132
El totat de vols amb retràs en l'aterratge son: 177983
El totat de vols amb retràs degut el temps son: 10320
El totat de vols amb retràs degut al NAS son: 68221
El totat de vols amb retràs degut a la seguretat son: 581
El totat de vols amb retràs degut a LateAircraft son: 71697

## Exercici 3

Exporta el dataset net i amb les noves columnes a Excel.

In [136]:
vols_reduit_net.to_excel('vols_mostrari_net.xlsx', index=False)